extends baseEmail 

block content 
                            
  p Hi #{firstName},
  p Thank you for your message!
  p Your email: #{email}
  p Your message: #{message}
  p We will get back to you ASAP.
  p - Pictusweb s.r.o. 
