@font-face {
  font-family: OpenSans;
  src: url('../public/fonts/static/OpenSans-Regular.ttf');
  font-family: headerPublisher;
  src: url('../public/fonts/NotoSerif-BoldItalic.ttf');
  font-family: headerName;
  src: url('../public/fonts/Cinzel-VariableFont_wght.ttf');
}

body {
  /* font-family: headerPublisher; */
  font-family: OpenSans, sans-serif;
  color: #232323;
  font-weight: 200;
  font-size: 24px;
  line-height: 22px;
  text-transform: none;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.password-group {
  display: none;
}

/* HEADER*/

.grey-navbar-top {
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd;
  height: 20px;
}

.grey-navbar-flex {
  margin: 0 5%;
}

.grey-navbar-top-contact {
  cursor: pointer;
  text-transform: none;
  font-weight: 200;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: normal;
}

a.nav-link {
  color: #fefefe;
  font-size: 20px;
}

.grey-navbar-contact {
  margin: 0;
}

.grey-navbar-contact:hover {
  color: #24b9d6;
  background-color: none !important;
}

.grey-navbar-two-links {
  margin: 0 5%;
  display: flex;
  align-items: center;
  color: #232323;
}

a.grey-navbar-cart.nav-link,
a.grey-navbar-sign-in.nav-link {
  color: #232323;
  font-weight: 200;
  text-transform: none !important;
}

a#username.dropdown-toggle.nav-link,
a#adminmenu.dropdown-toggle.nav-link {
  color: #232323;
  font-weight: 200;
  text-transform: none !important;
  font-size: 20px;
}

a.grey-navbar-cart.nav-link:hover,
a.grey-navbar-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover,
a#adminmenu.dropdown-toggle.nav-link:hover {
  color: #24b9d6;
  background-color: none !important;
}

.grey-navbar-cart {
  position: relative !important;
  margin-right: 35px;
}

p.number-in-cart {
  position: absolute;
  right: 56px;
  top: -10px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 19px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 18px;
  margin-left: 25%;
  padding-bottom: 10px !important;
}

/* a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
  font-weight: 200 !important;
  text-transform: none !important;
} */

.top-container {
  background-color: #fefefe;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8% !important;
}

.no-underline {
  text-decoration: none;
}

.header-search-box input {
  font-size: 20px;
}

.header-search-btn {
  background-color: #2cb3e6;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}

.header-search-btn:hover {
  background-color: #fefefe;
  color: #24b9d6;
  border: 2px solid #24b9d6;
}

img.header-image {
  margin-top: 15px;
  width: 35%;
}

/* .header-name {
  font-family: headerName;
  color: #006828;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
} */

.header-publisher {
  font-family: headerPublisher;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  color: #a07c54;
  text-transform: none;
  margin-bottom: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

/* .header-two-links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 20px;
  gap: 17.5px;
} */

/* .header-cart {
  position: relative;
} */

/* p.number-in-cart {
  position: absolute;
  left: 12px;
  top: -7.5px;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 23px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 20px;
  margin-left: 30%;
  padding-bottom: 30px !important;
} */

/* a.header-cart.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
} */

/* a#username.dropdown-toggle.nav-link,
a#adminmenu.dropdown-toggle.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-cart.nav-link:hover,
a.header-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover,
a#adminmenu.dropdown-toggle.nav-link:hover {
  color: #1c6117;
  background-color: #fefefe;
} */

/* RED NAVBAR */

.red-navbar-container {
  margin: 0 auto;
  transform: translateY(-12px);
}

nav.navbar {
  background-color: #8a1c1f;
  height: 25px;
}

.nav-item {
  margin-right: 0 !important;
}

.red-navbar-item {
  color: #fefefe;
  font-size: 17px;
  margin-right: 15px !important;
}

.red-navbar-item:hover {
  color: #fefefe;
  cursor: pointer;
}

.dropdown-menu {
  z-index: 9999 !important;
  opacity: 3;
}

a.dropdown-toggle.nav-link {
  z-index: 9999 !important;
  opacity: 3;
}

a.dropdown-toggle.nav-link:hover {
  color: #fefefe;
  font-size: 20px;
}

/* a.nav-link:hover {
  color: #fefefe;
  background-color: rgb(6, 67, 6);
} */

/* a.video-link.active.nav-link {
  color: #fefefe;
} */

/* .video-link {
  margin-right: 25px;
} */

/* a.dropdown-toggle.nav-link:after {
  display: none;
} */

.dropdown-item.active {
  background-color: #fefefe !important;
  color: #232323 !important;
}

a.dropdown-item {
  color: #232323;
  font-weight: 200;
  font-size: 20px;
}

a.dropdown-item:hover,
.dropdown-item.active:hover {
  background-color: #24b9d6 !important;
  color: #fefefe;
}

.mobile-only {
  display: none;
}

/* dropdown on hover NOT on MOBILE */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link{   } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* carousel */
.carousel-custom {
  /* background-image: url('../../frontend/public/images/sample.jpg'); */
  border: 1px solid #232323;
  z-index: -1;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  z-index: -1;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 990px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .mob-my {
    margin-top: 25px;
  }
}

/* PRODUCT */
.btn-back {
  background-color: #1c6117;
  border: 1px solid #1c6117;
  color: #fefefe;
}
.btn-back:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 1px solid #1c6117;
}

.btn-green {
  background-color: #1c6117;
}
.btn-green:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 1px solid #1c6117;
}

.btn-brown {
  background-color: #907355;
}

.btn-brown:hover {
  background-color: #fefefe;
  color: #907355;
  border: 1px solid #907355;
}

/* LOGIN */
label.form-label {
  font-size: 20px;
}

input#name.form-control,
input#email.form-control,
input#address.form-control,
input#city.form-control,
input#postalCode.form-control,
input#city.form-control,
input#country.form-control,
input#subject.form-control,
textarea#message.form-control,
input#billingName.form-control,
input#billingEmail.form-control,
input#billingAddress.form-control,
input#billingCity.form-control,
input#billingPostalCode.form-control,
input#billingCountry.form-control,
input#billingICO.form-control,
input#billingDIC.form-control,
input#note.form-control {
  font-size: 23px !important;
}

sup {
  color: red;
  margin-left: 1.5px;
}

.billing-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sign-in-forgot {
  font-size: 23px;
}

.agree-gdpr {
  font-size: 25px;
  transform: translateY(20%);
}

.agree-gdpr-order {
  font-size: 17px;
  transform: translateY(30%);
}

/* FOOTER */
footer {
  background-color: #edeae4;
}

.footer-link {
  text-decoration: none;
  margin-left: 25px;
}

/* MOBILE */
/* Tablets and smaller */
@media (min-width: 100px) and (max-width: 1180px) {
  .no-mobile {
    display: none;
  }

  .red-navbar-container {
    margin: 0 auto;
  }

  img.header-image-mobile {
    width: 70vw;
    margin-left: 20%;
  }

  nav.navbar {
    background-color: #ffffff;
    height: auto;
  }

  a.dropdown-toggle.nav-link {
    color: #232323;
  }

  a.dropdown-toggle.nav-link:hover {
    color: #232323;
  }

  a.nav-link {
    color: #232323;
  }

  .mobile-navbar.mobile-only {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
  /* .header-name {
    color: #fefefe;
    font-size: 30px;
    margin-top: -25px;
    margin-left: 72px;
    margin-bottom: 15px;
  } */

  /* MOBILE Hamburger */

  button.navbar-toggler {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
  }

  button.navbar-toggler.collapsed {
    background-color: #fefefe;
    border: 1px solid #232323;
  }

  .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 0, 0, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
  }

  .navbar-toggler {
    color: #907355 !important;
    background-color: #24b9d6 !important;
  }
  .search-navbar-mobile {
    display: block;
    margin-top: 15px;
  }
  .header-search-btn {
    border: 1px solid #fefefe;
  }

  .header-cart.mobile-only {
    display: block;
    position: relative;
  }
  a.header-cart.mobile-only.nav-link {
    color: #232323;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a.header-cart.mobile-only.nav-link:hover {
    background-color: #1c6117;
  }

  p.number-in-cart {
    top: -11px;
    left: 14px;
    line-height: 15px !important;
  }

  .mobile-sign-in.mobile-only {
    display: block;
  }

  .mobile-sign-in a.nav-link {
    font-weight: 100;
    font-size: 25px;
  }
  .mobile-sign-in.active.nav-link:hover {
    background-color: #1c6117;
  }

  a#username.dropdown-toggle.nav-link {
    color: #fefefe;
  }
  a#username.dropdown-toggle.nav-link:hover {
    background-color: #1c6117;
    color: #fefefe;
  }

  a#adminmenu.dropdown-toggle.nav-link {
    color: #fefefe;
  }
  a#adminmenu.dropdown-toggle.nav-link:hover {
    background-color: #1c6117;
    color: #fefefe;
  }

  a.active.dropdown-item {
    background-color: #fefefe;
    color: #000;
  }

  a.active.dropdown-item:hover {
    background-color: #907355;
    color: #fefefe;
  }

  a.dropdown-item {
    font-size: 30px;
  }
  a.dropdown-toggle.nav-link {
    font-size: 25px;
  }

  a.nav-link:hover {
    background-color: #1c6117;
  }
}
