@font-face {
  font-family: headerPublisher;
  src: url('../public/fonts/NotoSerif-BoldItalic.ttf');
  font-family: headerName;
  src: url('../public/fonts/Cinzel-VariableFont_wght.ttf');
}

body {
  font-family: headerPublisher;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 990px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .mob-my {
    margin-top: 25px;
  }
}

.password-group {
  display: none;
}

/* HEADER*/

.top-container {
  background-color: #fefefe;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 15px;
}

.no-underline {
  text-decoration: none;
}

.header-search-box input {
  font-size: 20px;
}

.header-search-btn {
  background-color: #1b6217;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}

.header-search-btn:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 2px solid #1c6117;
}

img.header-image {
  margin-top: 30px;
  width: 35%;
}

.header-name {
  font-family: headerName;
  color: #006828;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-publisher {
  font-family: headerPublisher;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #907355;
  text-transform: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.header-two-links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 20px;
  gap: 17.5px;
}

.header-cart {
  position: relative;
}

p.number-in-cart {
  position: absolute;
  left: 12px;
  top: -7.5px;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 23px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 20px;
  margin-left: 30%;
  padding-bottom: 30px !important;
}

a.header-cart.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
}

a#username.dropdown-toggle.nav-link,
a#adminmenu.dropdown-toggle.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-cart.nav-link:hover,
a.header-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover,
a#adminmenu.dropdown-toggle.nav-link:hover {
  color: #1c6117;
  background-color: #fefefe;
}

nav.navbar {
  background-color: #1c6117;
}

a.nav-link {
  color: #fefefe;
  font-size: 20px;
}

a.nav-link:hover {
  color: #fefefe;
  background-color: rgb(6, 67, 6);
}

a.video-link.active.nav-link {
  color: #fefefe;
}

.video-link {
  margin-right: 25px;
}

a.dropdown-toggle.nav-link {
  color: #fefefe;
  font-size: 20px;
}

a.dropdown-toggle.nav-link:hover {
  color: #fefefe;
  font-size: 20px;
}

a.dropdown-toggle.nav-link:after {
  display: none;
}

a.dropdown-item {
  font-size: 20px;
}

a.dropdown-item:hover {
  background-color: #907355;
  color: #fefefe;
}

.mobile-only {
  display: none;
}

/* dropdown on hover NOT on MOBILE */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link{   } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* PRODUCT */
.btn-back {
  background-color: #1c6117;
  border: 1px solid #1c6117;
  color: #fefefe;
}
.btn-back:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 1px solid #1c6117;
}

.btn-green {
  background-color: #1c6117;
}
.btn-green:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 1px solid #1c6117;
}

.btn-brown {
  background-color: #907355;
}

.btn-brown:hover {
  background-color: #fefefe;
  color: #907355;
  border: 1px solid #907355;
}

/* LOGIN */
label.form-label {
  font-size: 20px;
}

input#name.form-control,
input#email.form-control,
input#address.form-control,
input#city.form-control,
input#postalCode.form-control,
input#city.form-control,
input#country.form-control,
input#subject.form-control,
textarea#message.form-control,
input#billingName.form-control,
input#billingEmail.form-control,
input#billingAddress.form-control,
input#billingCity.form-control,
input#billingPostalCode.form-control,
input#billingCountry.form-control,
input#billingICO.form-control,
input#billingDIC.form-control {
  font-size: 23px !important;
}

.hidden {
  display: none;
}

.billing-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sign-in-forgot {
  font-size: 23px;
}
/* FOOTER */
.footer-link {
  text-decoration: none;
  margin-left: 25px;
}

/* MOBILE */
/* Tablets and smaller */
@media (min-width: 100px) and (max-width: 1180px) {
  .no-mobile {
    display: none;
  }

  .mobile-navbar.mobile-only {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
  .header-name {
    color: #fefefe;
    font-size: 30px;
    margin-top: -25px;
    margin-left: 72px;
    margin-bottom: 15px;
  }

  button.navbar-toggler {
    position: absolute;
    top: 15px;
  }

  .navbar-toggler-icon {
    text-decoration: red !important;
  }
  .search-navbar-mobile {
    display: block;
    margin-top: 15px;
  }
  .header-search-btn {
    border: 1px solid #fefefe;
  }

  .header-cart.mobile-only {
    display: block;
  }
  a.header-cart.mobile-only.nav-link {
    color: #fefefe;
    font-weight: 100;
  }

  a.header-cart.mobile-only.nav-link:hover {
    background-color: #1c6117;
  }

  p.number-in-cart {
    top: -9px;
    left: 13px;
  }

  .mobile-sign-in.mobile-only {
    display: block;
  }

  .mobile-sign-in a.nav-link {
    font-weight: 100;
    font-size: 25px;
  }
  .mobile-sign-in.active.nav-link:hover {
    background-color: #1c6117;
  }

  a#username.dropdown-toggle.nav-link {
    color: #fefefe;
  }
  a#username.dropdown-toggle.nav-link:hover {
    background-color: #1c6117;
    color: #fefefe;
  }

  a#adminmenu.dropdown-toggle.nav-link {
    color: #fefefe;
  }
  a#adminmenu.dropdown-toggle.nav-link:hover {
    background-color: #1c6117;
    color: #fefefe;
  }

  a.active.dropdown-item {
    background-color: #fefefe;
    color: #000;
  }

  a.active.dropdown-item:hover {
    background-color: #907355;
    color: #fefefe;
  }

  a.dropdown-item {
    font-size: 30px;
  }
  a.dropdown-toggle.nav-link,
  a.video-link.nav-link {
    font-size: 25px;
  }

  a.nav-link:hover {
    background-color: #1c6117;
  }
}
