@font-face {
  font-family: headerPublisher;
  src: url('../public/fonts/NotoSerif-BoldItalic.ttf');
  font-family: headerName;
  src: url('../public/fonts/Cinzel-VariableFont_wght.ttf');
}

body {
  font-family: headerPublisher;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 990px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .mob-my {
    margin-top: 25px;
  }
}

.password-group {
  display: none;
}

/* HEADER*/

.top-container {
  background-color: #fefefe;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-search-box {
  /* transform: translateY(-26%); */
}
.header-search-box input {
  font-size: 20px;
}

.header-search-btn {
  background-color: #1b6217;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}

.header-search-btn:hover {
  background-color: #fefefe;
  color: #1c6117;
  border: 2px solid #1c6117;
}

img.header-image {
  margin-top: 30px;
  width: 35%;
}

.header-name {
  font-family: headerName;
  color: #006828;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-publisher {
  font-family: headerPublisher;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #907355;
  text-transform: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.header-two-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 20px;
}

a.header-cart.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
}

a#username.dropdown-toggle.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-cart.nav-link:hover,
a.header-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover {
  color: #1c6117;
  background-color: #fefefe;
}

nav.navbar {
  background-color: #1c6117;
}

a.nav-link {
  color: #fefefe;
  font-size: 20px;
}

a.nav-link:hover {
  color: #fefefe;
  background-color: #907355;
}

a.video-link.active.nav-link {
  color: #fefefe;
}

.video-link {
  margin-right: 25px;
}

a.dropdown-toggle.nav-link {
  color: #fefefe;
  font-size: 20px;
}

a.dropdown-toggle.nav-link:hover {
  color: #fefefe;
  font-size: 20px;
}

a.dropdown-item {
  font-size: 20px;
}

a.dropdown-item:hover {
  background-color: #907355;
  color: #fefefe;
}
