@font-face {
  font-family: OpenSans;
  src: url('../public/fonts/static/OpenSans-Regular.ttf');
  font-family: headerPublisher;
  src: url('../public/fonts/NotoSerif-BoldItalic.ttf');
  font-family: headerName;
  src: url('../public/fonts/Cinzel-VariableFont_wght.ttf');
}

body {
  /* font-family: headerPublisher; */
  font-family: OpenSans, sans-serif;
  color: #232323;
  font-weight: 200;
  font-size: 24px;
  line-height: 22px;
  text-transform: none;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.password-group {
  display: none;
}

/* HEADER*/

.grey-navbar-top {
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd;
  height: 20px;
}

.grey-navbar-flex {
  margin: 0 5%;
}

.grey-navbar-top-contact {
  cursor: pointer;
  text-transform: none;
  font-weight: 200;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: normal;
}

a.nav-link {
  color: #fefefe;
  font-size: 20px;
}

.grey-navbar-contact {
  margin: 0;
}

.grey-navbar-contact:hover {
  color: #24b9d6;
  background-color: none !important;
}

.grey-navbar-two-links {
  margin: 0 5%;
  display: flex;
  align-items: center;
  color: #232323;
}

a.grey-navbar-cart.nav-link,
a.grey-navbar-sign-in.nav-link {
  color: #232323;
  font-weight: 200;
  text-transform: none !important;
}

a#username.dropdown-toggle.nav-link,
a#adminmenu.dropdown-toggle.nav-link {
  color: #232323;
  font-weight: 200;
  text-transform: none !important;
  font-size: 20px;
}

a#adminmenu.dropdown-toggle.nav-link {
  margin-left: 35px;
}

a.grey-navbar-cart.nav-link:hover,
a.grey-navbar-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover,
a#adminmenu.dropdown-toggle.nav-link:hover {
  color: #24b9d6;
  background-color: none !important;
}

.grey-navbar-cart {
  position: relative !important;
  margin-right: 35px;
}

p.number-in-cart {
  position: absolute;
  right: 56px;
  top: -10px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 19px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 18px;
  margin-left: 25%;
  padding-bottom: 10px !important;
}

/* a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
  font-weight: 200 !important;
  text-transform: none !important;
} */

.top-container {
  background-color: #fefefe;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8% !important;
}

.no-underline {
  text-decoration: none;
}

.header-search-box input {
  font-size: 20px;
}

.header-search-btn {
  background-color: #2cb3e6;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}

.header-search-btn:hover {
  background-color: #fefefe;
  color: #24b9d6;
  border: 2px solid #24b9d6;
}

img.header-image {
  margin-top: 15px;
  width: 35%;
}

/* .header-name {
  font-family: headerName;
  color: #006828;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
} */

.header-publisher {
  font-family: headerPublisher;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  color: #a07c54;
  text-transform: none;
  margin-bottom: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

/* .header-two-links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 20px;
  gap: 17.5px;
} */

/* .header-cart {
  position: relative;
} */

/* p.number-in-cart {
  position: absolute;
  left: 12px;
  top: -7.5px;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 23px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 20px;
  margin-left: 30%;
  padding-bottom: 30px !important;
} */

/* a.header-cart.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-sign-in.nav-link {
  color: #907355;
  font-size: 25px;
} */

/* a#username.dropdown-toggle.nav-link,
a#adminmenu.dropdown-toggle.nav-link {
  color: #907355;
  font-size: 25px;
}

a.header-cart.nav-link:hover,
a.header-sign-in.nav-link:hover,
a#username.dropdown-toggle.nav-link:hover,
a#adminmenu.dropdown-toggle.nav-link:hover {
  color: #1c6117;
  background-color: #fefefe;
} */

/* RED NAVBAR */

.red-navbar-container {
  margin: 0 auto;
  transform: translateY(-12px);
  z-index: 9 !important;
}

nav.navbar {
  background-color: #8a1c1f;
  height: 25px;
}

.nav-item {
  margin-right: 0 !important;
}

.red-navbar-item {
  color: #fefefe;
  font-size: 17px;
  margin-right: 15px !important;
}

.red-navbar-item:hover {
  color: #fefefe;
  cursor: pointer;
}

.red-navbar-item.active.nav-link:focus {
  color: #fefefe;
}

/* a.dropdown-item {
  z-index: 9999 !important;
  opacity: 3;
} */

/* a.dropdown-toggle.nav-link {
  z-index: 9999 !important;
  opacity: 3;
} */

a.dropdown-toggle.nav-link:hover {
  color: #fefefe;
  font-size: 20px;
}

/* a.nav-link:hover {
  color: #fefefe;
  background-color: rgb(6, 67, 6);
} */

/* a.video-link.active.nav-link {
  color: #fefefe;
} */

/* .video-link {
  margin-right: 25px;
} */

a.dropdown-toggle.nav-link:after {
  display: none;
}

.dropdown-item.active {
  background-color: #fefefe !important;
  color: #232323 !important;
}

a.dropdown-item {
  color: #232323;
  font-weight: 200;
  font-size: 20px;
}

a.dropdown-item:hover,
.dropdown-item.active:hover {
  background-color: #24b9d6 !important;
  color: #fefefe;
}

.blue {
  color: #24b9d6;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

/* .cart-empty-back-link {
  z-index: 9999 !important;
  opacity: 3 !important;
} */

.list-group.list-group-flush {
  z-index: 1;
}

/* dropdown on hover NOT on MOBILE */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link{   } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

i.fab.fa-facebook-f {
  color: #f1f1f1;
  font-size: 20px;
  margin-left: 20px;
}

/* .list-group-item {
  z-index: -1;
  opacity: 1;
} */

/* .l-g-i-show {
  z-index: 1 !important;
  opacity: 1;
} */

/* carousel */
.carousel-custom {
  /* background-image: url('../../frontend/public/images/sample.jpg'); */
  border: 1px solid #232323;
  z-index: -1;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  z-index: -1;
}
.carousel-caption {
  position: absolute;
  top: 0;
  background-color: #2cb3e6;
  margin-left: 40%;
  height: 100vh;
  right: 0 !important;
}

.carousel-caption h2 {
  margin-top: 15%;
  color: #f1f1f1;
}

.carousel-caption p {
  color: #f1f1f1;
}

.carousel-caption-2 {
  margin-left: 33%;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  /* border-radius: 50%; */
  margin-left: -5%;
  margin-right: auto;
}
.carousel a {
  /* margin: 0 auto; */
  margin-left: 15%;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none !important;
}

img.slide-img-2.img-fluid {
  height: 385px;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0px;
}

@media (max-width: 990px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  /* .mob-my {
    margin-top: 25px;
  } */
}

/* HOME SCREEN  */
.new-publications {
  margin-top: 25px;
  font-weight: 400;
  letter-spacing: normal;
}

/* PRODUCT */
.product-home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-home-name {
  text-align: center;
  color: #8b1d20;
  line-height: 25px;
}

.product-description {
  margin-top: 10px;
  text-align: justify;
  line-height: 25px;
}

.product-see-also {
  margin-top: 30px;
  /* text-align: center; */
}

.product-see-also h5 {
  font-size: 25px;
}

.product-see-also h6 {
  font-size: 20px;
  text-transform: none;
}

h6.related-link {
  color: #8a1c1f;
}

.related-link {
  text-decoration: underline;
  cursor: pointer;
}

.related-link:hover {
  color: #24b9d6;
}

.related-dropdown {
  background-color: #24b9d6;
}

.language-dropdown {
  background-color: #24b9d6;
}

h5.language-dropdown-lang {
  font-weight: 300;
}

h5.discounted-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateX(-5%);
  padding: 15px;
  text-transform: none;
  background-color: red;
  font-size: 20px;
  color: #fff;
}

.discounted-price-span {
  font-size: 13px;
}

h5.place-order-discount {
  margin-left: 20px;
  padding: 5px;
  display: inline-block;
  background-color: red;
  font-size: 20px;
  color: #fff;
}

.product-img-card-width {
  width: auto !important;
}

.prod-img-width {
  width: 100%;
}

.btn-back {
  background-color: #2cb3e6;
  border: 1px solid #2cb3e6;
  color: #fefefe;
}
.btn-back:hover {
  background-color: #fefefe;
  color: #2cb3e6;
  border: 1px solid #2cb3e6;
}

.btn-blue {
  background-color: #2cb3e6;
}
.btn-blue:hover {
  background-color: #fefefe;
  color: #2cb3e6;
  border: 1px solid #2cb3e6;
}

.btn-red {
  background-color: #8a1c1f;
}

.btn-red:hover {
  background-color: #fefefe;
  color: #907355;
  border: 1px solid #8a1c1f;
}

.btn-danger:hover {
  background-color: #fefefe;
  color: #907355;
  border: 1px solid #8a1c1f;
}

h3.product-home-price.card-text {
  color: #555555;
}

/* LOGIN */
label.form-label {
  font-size: 20px;
}

input#name.form-control,
input#email.form-control,
input#password.form-control,
input#confirmPassword.form-control,
input#address.form-control,
input#city.form-control,
input#postalCode.form-control,
input#city.form-control,
input#country.form-control,
input#subject.form-control,
textarea#message.form-control,
input#billingName.form-control,
input#billingEmail.form-control,
input#billingAddress.form-control,
input#billingCity.form-control,
input#billingPostalCode.form-control,
input#billingCountry.form-control,
input#billingICO.form-control,
input#billingDIC.form-control,
input#note.form-control,
select#rating.form-control,
textarea#comment.form-control {
  font-size: 23px !important;
}

sup {
  color: red;
  margin-left: 1.5px;
}

.billing-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sign-in-forgot {
  font-size: 23px;
}

.agree-gdpr {
  font-size: 25px;
  transform: translateY(50%);
}

.billing-address-title-check {
  transform: translateY(13%);
}

.billing-icodic-title-check {
  transform: translateY(10%);
}

.agree-gdpr-order {
  font-size: 17px;
  transform: translateY(30%);
}

.agree-traderules-order {
  font-size: 17px;
  transform: translateY(55%);
}

/* GIVE 2% */
.give2-physical li {
  margin: 10px 0;
  line-height: 25px;

  text-align: justify;
}

.give2-physical p {
  margin: 15px 0;
  line-height: 25px;
  text-align: justify;
}

.files-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-file {
  width: 50%;
  text-decoration: underline;
  color: #071e46;
  background-color: #ddd;
}

.btn-file:hover {
  background-color: darkolivegreen;
}

.prods-by-year-container {
  margin-left: 10%;
  width: 90vw;
}

.prod-img-year-width {
  width: 27%;
}

.prods-by-year {
  display: flex;
  gap: 40px;
}

.prod-by-year {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Laptop ONLY*/

@media (min-width: 100px) and (max-width: 1440px) {
  .prod-img-year-width {
    width: 27%;
    margin-top: 7%;
  }
}

/* FOOTER */
footer {
  background-color: #edeae4;
}
.footer-text {
  text-align: center;
  line-height: 20px;
  padding-top: 30px;
  margin: 15px 0;
}

.footer-text-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text-links a {
  text-decoration: none;
}

.footer-text h2 {
  color: #071e46;
  font-weight: 700;
}

.footer-text p {
  color: #9b7d57;
}

.footer-copyright.mobile-only {
  display: none;
}

.footer-copyright {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.footer-copyright p {
  margin-bottom: 0;
}

.footer-link {
  text-decoration: none;
  margin-left: 25px;
  line-height: 27.5px;
}

/* MOBILE */
/* Tablets and smaller */
@media (min-width: 100px) and (max-width: 1180px) {
  .no-mobile {
    display: none !important;
  }

  .red-navbar-container {
    margin-top: 0;
    margin-left: 0px;
    transform: none;
    /* z-index: 9999 !important; */
    opacity: 2;
    background-color: #f1f1f1;
    width: 100vw;
    height: 35px;
  }

  /* .active.navbar-brand {
    width: 90vw !important;
  } */

  .red-navbar-item {
    font-weight: 400;
    margin: 2px 0;
    line-height: 30px;
  }

  .red-navbar-item:last-child {
    padding-bottom: 25px;
  }

  img.header-image-mobile {
    width: 70vw;
    margin-left: 20%;
  }

  nav.navbar {
    background-color: #f1f1f1;
    height: 65px;
  }

  a.dropdown-toggle.nav-link {
    color: #232323;
  }

  a.dropdown-toggle.nav-link:hover {
    color: #232323;
  }

  a.nav-link {
    color: #232323;
  }

  .mobile-navbar.mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
    transform: translateY(-13px);
  }
  /* .header-name {
    color: #fefefe;
    font-size: 30px;
    margin-top: -25px;
    margin-left: 72px;
    margin-bottom: 15px;
  } */

  /* MOBILE Hamburger */

  button.navbar-toggler {
    position: absolute;
    top: 12.5px;
    left: 14.5px;
  }

  button.navbar-toggler.collapsed {
    background-color: #fefefe;
    border: 1px solid #232323;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 0, 0, 0.55%29'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  /* .navbar-toggler {
  } */

  .mobile-cart.mobile-only {
    display: flex;
  }

  /* toggled mobile navbar */

  .mobile-navbar-collapse {
    margin-top: -63px;
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-left: 15px;
  }

  .mobile-logo-under-grey.mobile-only {
    display: flex;
    flex-direction: column;
  }

  img.img-mobile-logo-under-grey {
    margin-top: 25px;
    margin-left: 15px;
    width: 65%;
  }

  .mobile-under-grey-publisher {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-family: headerPublisher;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    color: #a07c54;
    overflow: hidden; /* Hide scrollbars */
  }
  .search-navbar-mobile {
    display: block;
    margin: 0 25px;
  }
  .header-search-btn {
    border: 1px solid #fefefe;
  }

  .header-cart.mobile-only {
    display: block;
    position: relative;
  }
  a.header-cart.mobile-only.nav-link {
    color: #232323;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* a.header-cart.mobile-only.nav-link:hover {
    background-color: #1c6117;
  } */

  p.number-in-cart {
    top: -11px;
    left: 14px;
    line-height: 15px !important;
  }

  .mobile-sign-in.mobile-only {
    display: block;
  }

  .mobile-sign-in a.nav-link {
    font-weight: 100;
    font-size: 25px;
  }
  .mobile-sign-in.active.nav-link:hover {
    color: #232323;
  }

  a#username.dropdown-toggle.nav-link {
    color: #232323;
  }
  a#username.dropdown-toggle.nav-link:hover {
    color: #232323;
  }

  a#adminmenu.dropdown-toggle.nav-link {
    color: #232323;
    margin-left: 0px;
  }
  a#adminmenu.dropdown-toggle.nav-link:hover {
    color: #232323;
  }

  a.active.dropdown-item {
    background-color: #fefefe;
    color: #000;
  }

  a.active.dropdown-item:hover {
    background-color: #907355;
    color: #fefefe;
  }

  a.dropdown-item {
    font-size: 30px;
  }

  /* .list-group-item {
    display: flex;
    align-items: center;
  } */
  /* a.dropdown-toggle.nav-link {
    font-size: 25px;
  } */

  /* a.nav-link:hover {
    background-color: #1c6117;
  } */

  /* MOBILE CAROUSEL */
  .carousel-caption h2 {
    padding: 0 10px;
    font-size: 20px;
  }

  .carousel-caption p {
    padding: 0 10px;

    font-size: 17.5px;
  }

  .carousel img {
    margin-left: -13%;
  }

  .align-items-stretch.mobile-only {
    display: block;
  }

  .product-description {
    font-size: 18px;
    text-align: left;
  }

  .product-img-card-width {
    width: 100% !important;
  }

  .product-see-also.mobile-only {
    display: block;
  }

  .align-items-center.mobile-only {
    display: block;
  }

  .btn-file {
    width: 100%;
  }

  .prods-by-year-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .prods-by-year {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .prod-by-year {
    text-align: center;
  }

  .prod-by-year h1 {
    font-size: 35px;
  }

  .prod-by-year h4 {
    font-size: 30px;
  }
  .prod-img-year-width {
    width: 100%;
    margin-left: 0.75%;
  }

  /* MOBILE FOOTER*/
  .footer-text-links {
    align-items: center;
  }

  .footer-copyright.mobile-only {
    display: flex;
  }

  p.footer-trade-rules {
    line-height: 35px;
  }
}
